In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
file_path = "datagame-2023/"
train = pd.read_parquet(f"{file_path}/label_train_source.parquet")
test = pd.read_parquet(f"{file_path}/label_test_source.parquet")
meta_category = ["composer","genre","lyricist","producer","titletext",""]
meta_data = {}
meta = {}
for i in meta_category:
    if i!="":
        meta[i] = pd.read_parquet(f"{file_path}/meta_song_{i}.parquet")
    else:
        meta["song"] = pd.read_parquet(f"{file_path}/meta_song{i}.parquet")

In [6]:
train.head()

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,751,6027767fad949f3ca5e772df04924949,1659598909,1,7,1
1,751,041547bddb0a3e730f32db84c65868ca,1659599182,1,7,2
2,751,041547bddb0a3e730f32db84c65868ca,1659599184,0,7,3
3,751,041547bddb0a3e730f32db84c65868ca,1659599185,0,7,4
4,751,8b32f88104ecf859be934d9b45f30cd1,1659599218,1,7,5